html {
  scroll-behavior: smooth;
}

body {
  background-color: #041021;
  font-family: "Poppins", sans-serif;
  color: #fffff0;
}

a {
  color: #ff856e;
}

.bg-items {
  position: absolute;
  z-index: -3;
}

#top-left {
  top: 0;
  left: 0;
}

#bottom-right {
  bottom: 0;
  right: 0;
}

#top-right {
  top: 0;
  right: 0;
}

#bottom-left {
  bottom: 0;
  left: 0;
}

#center {
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
}

.btn-default,
.btn-info {
  background: linear-gradient(90deg, #eea06b 0%, #ffd973 100%);
  color: #040d21;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: linear-gradient(90deg, #eea06b 0%, #ffd973 100%);
  color: #040d21;
}

#carded {
  color: #fffff0;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid rgba(255, 133, 110, 0.25);
  box-shadow: 4px 4px 4px rgba(255, 133, 110, 0.25);
}

.card {
  background-color: transparent;
  color: #fffff0;
  border: 1px solid rgba(255, 133, 110, 0.25);
}

#postform {
  color: #fffff0;
  border: 1px solid rgba(255, 133, 110, 0.25);
  margin-top: 3%;
  padding: 3%;
  border-radius: 8px;
  z-index: 1;
}

.form-control,
.form-control:focus {
  background-color: transparent;
  color: #ffd973;
  border: 1px solid rgba(255, 133, 110, 0.25);
}

.form-control:focus {
  box-shadow: 4px 4px 4px rgba(255, 133, 110, 0.25);
}

.card,
.navbar,
.pagination .page-item.active .page-link {
  box-shadow: 4px 4px 4px rgba(255, 133, 110, 0.25);
}

#posts {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  text-transform: uppercase;
  margin-top: 2%;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}

.impressions {
  border-bottom: 1px solid rgba(255, 133, 110, 0.25);
}

#imgform {
  display: none;
}
